/* Reset css-a */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-height: 200vh;
  background-color: #232323 !important;
  font-family: "Nunito", sans-serif !important;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.carousel-item img {
  width: 100%;
}

.header {
  overflow: hidden;
  padding: 20px 25px;
  position: relative;
  height: 100vh;
  background: rgb(232, 214, 46);
  background: -moz-linear-gradient(
    20deg,
    rgba(232, 214, 46, 1) 0%,
    rgba(211, 45, 165, 1) 53%,
    rgba(149, 43, 233, 1) 100%
  );
  background: -webkit-linear-gradient(
    20deg,
    rgba(232, 214, 46, 1) 0%,
    rgba(211, 45, 165, 1) 53%,
    rgba(149, 43, 233, 1) 100%
  );
  background: linear-gradient(
    20deg,
    rgba(232, 214, 46, 1) 0%,
    rgba(211, 45, 165, 1) 53%,
    rgba(149, 43, 233, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8d62e",endColorstr="#952be9",GradientType=1);
}

.navigation-logo {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
}

.navigation-bar {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-bar--middle {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  transition: all 0.4s;
}

.navigation-bar--middle::before,
.navigation-bar--middle::after {
  position: absolute;
  content: "";
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.4s;
}

.navigation-bar--middle::after {
  top: 10px;
}

.header-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 25px;
  text-align: center;
}

.header-content-title,
.shop-title {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 35px;
}

.header-content-description {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 75px;
}

.header-content-btn {
  width: 150px;
  height: 40px;
  background-color: #ededed;
  border-radius: 20px;
  border: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header-content-btn a {
  color: #353535;
  font-size: 14px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.navigation-circle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.44, 0.13, 0.46, 0.86);
  z-index: 90;
  transform: scale(0);
}

.navigation-bar.active .navigation-circle {
  background-color: #ededed;
  transform: scale(40);
}

.navigation-open {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 90;
  transition: all 0.3s 0.1s;
}

.navigation-open .navigation-list {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  opacity: 0;
  transition: all 1s 0.25s;
}

.navigation.active .navigation-list {
  opacity: 1;
}

.navigation-open .navigation-list .navigation-link {
  color: #4e4e4e;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.navigation.active .navigation-open {
  opacity: 1;
  visibility: visible;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 45px;
  height: 45px;
}

.close-btn .close-btn-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 30px;
  height: 2px;
  background-color: #353535;
}

.close-btn .close-btn-line--2 {
  transform: translate(-50%, -50%) rotate(135deg);
}

.header img {
  display: none;
}

.our-history {
  text-align: center;
  padding: 60px 25px 0;
}

.history-subtitle,
.costs-subtitle,
.shop-subtitlte {
  color: #eabc1c;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 25px;
  display: block;
  text-align: center;
}

.history-title,
.costs-title,
.shop-title {
  font-size: 32px;
  font-weight: bold;
  color: #ededed;
  margin-bottom: 100px;
  text-align: center;
}

.history-box {
  width: 100%;
  padding: 70px 20px 40px;
  background-color: #2d2d2d;
  border-radius: 10px;
  text-align: left;
  position: relative;
  margin-bottom: 85px;
}

.history-box h3 {
  color: #fff;
  margin-bottom: 18px;
  font-size: 22px;
  max-width: 400px;
}

.history-description {
  color: #ededed;
  font-size: 16px;
  line-height: 30px;
}

.history-box-square {
  position: absolute;
  top: -45px;
  left: 20px;
  width: 90px;
  height: 90px;
  background-color: #ecd06d;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232323;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #646464;
}

.header .nav-logo {
  display: flex;
  width: 250px;
  position: absolute;
  top: -80px;
  left: -20px;
}

.costs {
  padding: 0 25px 80px;
}

.costs-box {
  width: 100%;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;

  border: 1px solid #ddbc4a;
  border-radius: 40px;
  position: relative;
  background-color: #2d2d2d;
  padding: 60px 25px 0px;
}
.costs-title,
.shop-title {
  margin-bottom: 85px;
}

.carousel-inner {
  overflow: visible !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none !important;
}

.carousel-item img {
  width: 25px;
}

.costs-level {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  background-color: #ddbc4a;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #474747;
  width: 80%;
}

.costs-pack-disabled .costs-pack-desciption {
  color: #747474;
}

.costs-description {
  color: #ededed;
  text-align: center;
  margin-bottom: 25px;
}

.costs-cost {
  color: #ededed;
  font-size: 25px;
  font-weight: 400;
}

.cost-time {
  color: #b1b1b1;
  font-size: 18px;
  display: block;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddbc4a;
  margin-bottom: 30px;
}

.costs-packs {
  display: flex;
  flex-direction: column;
}

.costs-pack {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.carousel-indicators [data-bs-target] {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}

.carousel-indicators {
  bottom: -75px !important;
  gap: 15px;
}

.carousel-indicators .active {
  background-color: #ddbc4a !important;
}

.costs-pack-desciption {
  color: #fff;
  font-size: 13px;
  margin-bottom: 0;
}

.shop {
  padding: 64px 25px 80px;
}

.shop-title {
  margin-bottom: 25px;
}

.shop-description {
  color: #ededed;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  margin-bottom: 50px;
}

.shop-description-mobile {
  margin-top: 50px;
}

.shop-description-desktop,
.go-to-shop-desktop {
  display: none;
}

.shop img {
  width: 100%;
}

.shop button,
.go-to-shop-desktop {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  margin: 60px auto 0;
  background-color: #ddbc4a;
  border-radius: 20px;
  border: none;
}

.shop button a,
.go-to-shop-desktop {
  color: #343434;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.go-to-shop-desktop {
  display: none;
}

.footer {
  background-color: #2d2d2d;
  width: 100%;
  padding: 70px 25px 20px;
}

.footer .hours {
  margin-bottom: 50px;
}

.footer .hours h3,
.footer .contact h3 {
  color: #ddbc4a;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer .hours span {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

.contact-item {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.footer .contact-item a {
  font-weight: 300;
  color: #fff;
}

.footer .contact-item a,
.footer .hours span {
  transition: all 0.3s;
}
.footer .contact-item a:hover {
  color: #ddbc4a;
}

.map {
  margin-bottom: 30px;
}

.footer .contact {
  margin-bottom: 50px;
}

iframe {
  width: 100%;
  border-radius: 10px;
  height: 200px;
}

.copyright p {
  color: #a9a9a9;
  font-weight: 300;
  font-size: 16px;
}

.history-box {
  margin-bottom: 40px;
}
.history-box:not(:last-child) {
  margin-bottom: 85px;
}

.costs {
  padding-top: 40px;
}

.back-to-top {
  width: 60px;
  height: 60px;
  border: 1px solid #ddbc4a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: fixed;
  top: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 9999999;
}
.back-to-top img {
  transition: all 0.3s;
}

.back-to-top:hover {
  background-color: #ddbc4a;
}
.back-to-top:hover img {
  filter: brightness(0);
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top img {
  width: 40px;
}

#carouselExampleIndicators1 .costs-box {
  min-height: 570px;
}

.slide-1 {
  margin-bottom: 150px;
}

/* Responsywność */

@media (width <= 991px) {
  .footer-top {
    display: flex;
    flex-direction: column;
  }

  .contact {
    order: 3;
  }
}

@media (375px <= width) {
  .header-content-title {
    font-size: 32px;
  }
  .header-content-description {
    font-size: 18px;
  }
  .header-content-btn {
    width: 180px;
    height: 45px;
    transition: all 0.4s;
    cursor: pointer;
  }
  .header-content-btn a {
    font-size: 18px;
  }
}

@media (500px <= width) {
  .header-content-title {
    font-size: 40px;
  }
  .header-content-description {
    font-size: 20px;
  }
  .header-content-btn {
    width: 180px;
    height: 45px;
  }
  .header-content-btn a {
    font-size: 18px;
  }
  iframe {
    height: 300px;
  }
}

@media (575px <= width) {
  .header-content-title {
    font-size: 45px;
  }
  .navigation-bar.active .navigation-circle {
    transform: scale(53);
  }
  .history-title,
  .costs-title {
    font-size: 35px;
  }
  .history-box h3 {
    font-size: 25px;
  }
  .history-description {
    font-size: 18px;
  }
}

@media (768px <= width) {
  .history-box {
    width: 48%;
  }

  .history-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .history-title,
  .costs-title {
    max-width: 500px;
    margin: 0 auto 100px;
  }
  .header-content-description {
    max-width: 600px;
    margin: 0 auto 75px;
  }
  .header-content-title {
    max-width: 500px;
    margin: 0 auto 35px;
  }
}

@media (992px <= width) {
  .header-content-title {
    font-size: 60px;
  }
  .header {
    padding: 20px 50px;
  }

  .navigation-bar {
    display: none;
  }
  .navigation-open {
    opacity: 1;
    visibility: visible;
    position: static;
    display: block;
    padding-top: 10px;
    height: 50px;
  }

  .navigation-logo {
    height: 50px;
  }
  .navigation-open .navigation-list {
    opacity: 1;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navigation-open .navigation-list .navigation-link {
    color: #fff;
    font-size: 22px;
  }
  .close-btn {
    display: none;
  }
  .navigation {
    display: flex;
  }
  .header-content {
    max-width: 800px;
  }
  .header-content-description {
    font-size: 25px;
  }
  .header-content-btn {
    width: 200px;
    height: 55px;
  }
  .header-content-description {
    max-width: 1000px;
    margin: 0 auto 75px;
  }
  .header-content-title {
    max-width: 1000px;
    margin: 0 auto 35px;
  }
  .navigation-link-shop {
    padding: 8px 20px;
    background-color: #1f9ea7;
    border-radius: 20px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .history-subtitle,
  .costs-subtitle,
  .shop-subtitlte {
    text-align: left;
  }
  .history-title,
  .costs-title {
    margin: 0 0 100px;
    text-align: left;
  }
  .our-history,
  .costs {
    padding: 80px 50px 0;
  }
  .header .nav-logo {
    top: -95px;
    left: 2px;
    width: 300px;
  }

  .costs {
    padding: 30px 50px 80px;
  }
  .shop-title {
    margin-bottom: 25px;
    text-align: left;
    font-size: 35px;
    max-width: 500px;
  }
  .shop-description {
    text-align: left;
  }

  .shop {
    padding: 80px 50px 80px;
  }

  .shop-img-container {
    display: flex;
    justify-content: space-between;
  }

  .shop img {
    width: 48%;
  }

  .shop-description-mobile {
    display: none;
  }
  .shop button {
    margin: 60px 0 0;
  }

  .first-shop-img {
    margin-right: 30px;
  }
  .go-to-shop-desktop {
    transition: all 0.3s;
  }
  .go-to-shop-desktop:hover {
    background-color: #ededed;
    color: #353535;
  }

  .footer .footer-top {
    display: flex;
    justify-content: space-between;
  }

  .footer .contact {
    order: 3;
  }

  .footer iframe {
    height: 200px;
  }
  .footer .contact-item a {
    font-size: 17px;
  }
  .copyright p {
    font-size: 18px;
  }
  .footer {
    padding: 70px 50px 20px;
  }
}

@media (1200px <= width) {
  .history-title,
  .costs-title {
    font-size: 50px;
    max-width: 800px;
  }
  .navigation-open {
    padding-top: 0;
  }
  .header img {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .header-content {
    text-align: left;
    max-width: 800px;
    left: 0;
    top: 200px;
    transform: translate(0, 0);
    padding: 0 45px;
  }
  .header-content-btn {
    margin: 0;
  }
  .header img {
    right: -200px;
    width: 650px;
  }
  .header-content-title {
    font-size: 64px;
    margin-bottom: 20px;
  }
  .header-content-description {
    font-size: 24px;
    max-width: 100%;
    margin-bottom: 55px;
  }
  .header-content-btn {
    width: 220px;
    gap: 20px;
  }
  .header-content-btn a {
    font-size: 22px;
  }

  .navigation-open .navigation-list {
    gap: 70px;
  }

  .header {
    padding: 30px 45px;
    background: rgb(232, 214, 46);
    background: -moz-linear-gradient(
      20deg,
      rgba(232, 214, 46, 1) 10%,
      rgba(211, 45, 165, 1) 52%,
      rgba(149, 43, 233, 1) 100%
    );
    background: -webkit-linear-gradient(
      20deg,
      rgba(232, 214, 46, 1) 10%,
      rgba(211, 45, 165, 1) 52%,
      rgba(149, 43, 233, 1) 100%
    );
    background: linear-gradient(
      20deg,
      rgba(232, 214, 46, 1) 10%,
      rgba(211, 45, 165, 1) 52%,
      rgba(149, 43, 233, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8d62e",endColorstr="#952be9",GradientType=1);
  }

  .header-content-btn a {
    transition: all 0.4s;
  }
  .header-content-btn:hover {
    background-color: #232323;
    color: #ededed;
  }
  .header-content-btn:hover a {
    color: #ededed;
  }

  .navigation-link {
    position: relative;
  }

  .navigation-link:not(.navigation-link-shop)::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    background-color: #fff;
    width: 0;
    height: 2px;
    transition: all 0.3s;
  }
  .navigation-link:hover::after {
    width: 35%;
  }
  .navigation-link-shop {
    transition: all 0.4s;
  }
  .navigation-link-shop:hover {
    background-color: #ededed;
  }
  .navigation-open .navigation-list .navigation-link-shop:hover {
    color: #232323;
  }
  .history-box h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .history-description {
    font-size: 20px;
  }
  .history-subtitle,
  .shop-subtitlte {
    font-size: 20px;
  }
  .history-box-square {
    width: 100px;
    height: 100px;
    top: -50px;
  }
  .history-box {
    padding-top: 90px;
    margin-bottom: 100px;
  }
  .history-title,
  .costs-title {
    margin-bottom: 120px;
  }
  .history-box-square img {
    width: 50px;
    height: 50px;
  }
  .costs-subtitle {
    font-size: 20px;
  }

  .carousel-item.active {
    margin-right: 0;
  }

  .carousel-inner {
    display: flex;
  }
  .carousel-item.active:not(:last-of-type) {
    margin-right: 30px;
  }
  .carousel-indicators {
    display: none !important;
  }
  .costs {
    padding: 30px 50px 50px;
  }
  .costs-box {
    transition: all 0.3s;
    max-width: 450px;
  }

  .costs-box:hover {
    transform: scale(1.05);
  }
  .costs-description {
    font-size: 18px;
  }
  .go-to-shop-desktop {
    display: flex;
    margin-left: 0;
  }
  .shop .shop-btn-mobile {
    display: none;
  }
  .shop-columns {
    display: flex;
    justify-content: space-between;
  }
  .shop-img-container {
    flex-direction: column;
    justify-content: center;
  }
  .shop-description {
    max-width: 700px;
    margin-bottom: 20px;
  }
  .shop-description-desktop {
    display: block;
  }
  .shop img {
    width: 80%;
  }
  .shop-title {
    font-size: 50px;
  }
  .first-shop-img {
    margin-right: 0;
  }
  .shop-img-container {
    align-items: flex-end;
    gap: 30px;
  }
  .map {
    width: 40%;
  }
  .footer iframe {
    width: 100%;
  }

  .back-to-top {
    top: 50px;
    right: 50px;
  }

  .shop img {
    transition: all 0.3s;
  }

  .shop img:hover {
    transform: scale(1.05);
  }
}

@media (1350px <= width) {
  .header img {
    right: -100px;
  }
}
@media (1400px <= width) {
  .header img {
    right: 0px;
  }
}
@media (1500px <= width) {
  .navigation-open .navigation-list .navigation-link {
    font-size: 22px;
  }
  .header-content-title {
    font-size: 70px;
  }

  .header-content {
    top: 30%;
  }
  .history-box {
    width: 32%;
  }
  .costs-box {
    max-width: 550px;
  }
  .shop img {
    width: 100%;
  }

  .shop-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .shop-title {
    max-width: 800px;
  }
  .footer .hours h3,
  .footer .contact h3 {
    font-size: 28px;
  }

  .footer .contact-item a,
  .footer .hours span {
    font-size: 20px;
  }
  .copyright p {
    font-size: 20px;
  }

  .map {
    width: 45%;
  }

  .map iframe {
    height: 230px;
  }

  .footer .footer-top {
    margin-bottom: 20px;
  }
}

@media (1920px <= width) {
  .header {
    padding: 50px 70px;
  }

  .header img {
    width: 750px;
  }

  .header-content {
    padding-left: 70px;
    max-width: 900px;
  }
  .header .nav-logo {
    top: -80px;
    left: 25px;
  }
  .history-title,
  .costs-title,
  .shop-title {
    font-size: 55px;
  }

  .shop-img-container {
    margin-right: 100px;
  }
  .go-to-shop-desktop {
    font-size: 20px;
    width: 220px;
    height: 50px;
    margin-top: 40px;
  }

  .shop-description {
    font-size: 18px;
    line-height: 35px;
  }

  .map {
    width: 50%;
  }
}
